/* meyer's style reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td 		
			{ margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent; }
body 		{ line-height:1; }
ol, ul 		{ list-style:none; }
blockquote, q 	{ quotes:none; }
blockquote:before, blockquote:after, q:before, q:after 	
			{ content:''; content:none;}
:focus 		{ outline:0;}
ins 			{ text-decoration:none;}
del 			{ text-decoration:line-through; }
table 		{ border-collapse:collapse;border-spacing:0; }
hr			{ display:none; }

/* base font and background styles */
body 		{ font-family:calibri,helvetica,arial;color:#333;background:#eee; }

/* base link styles */
a 			{ color:#0072bc;text-decoration:none; }
a:hover 		{ color:#df4f37; }

/* layout modifications (this is svelte specific) */
#container		 	{ position:relative;left:45%;width:27em; }
.offscreen 			{ position:absolute;left:-9999px; }
.columns 			{ position:relative;left:-50%;width:27em; }
#side_base			{ width:250px;position:absolute;margin:-220px 0 0 2em;padding-top:80px; }
#content 			{ width:27em;margin-left:-50%;padding-top:215px; }
#header, #footer	{ width:27em;position:absolute;display:none; }

#side {padding:0 1em 79px 1em;background:url(side.gif) bottom left no-repeat;}
#side_base			{ background:url(side.gif) top left no-repeat;width:15px;overflow:hidden; }
#side .promotion, #primary_nav, #custom_search, 
#saved_searches, #trends, #following, #rssfeed
					{ background:#fafafa;width:200px;border-bottom:1px solid #eee;padding:0 10px 10px;margin-top:10px; }
#side .promotion		{ margin-top:0;padding-top:20px; }					
#rssfeed			{ padding-bottom:20px; }	
#fm_menu a			{ float:right; }		
.sidebar-title		{ font-family:gotham;font-size:.8em;color:#444;cursor:pointer; }



#profile 							{ position:absolute;z-index:2;margin-top:-90px;}
#profile .user_icon, #profile .stats 	{ float:left;clear:left;}
#profile .user_icon 					{ background:url(me_talk.gif) bottom right no-repeat;padding:20px 75px 0 0;}
#me_name 							{ text-transform:uppercase; }
#profile table 						{ border-collapse:collapse; }
#profile .label 						{ display:none; }
#profile td 							{ white-space:nowrap;}
#profile .user_icon 					{ font-size:2.3em;font-weight:bold;text-transform:uppercase;font-family:gotham;}
#profile .stats 						{ font-size:.8em;color:#777;}
.user_icon:before 					{ content:"Hi";margin-left:-2px;}
.user_icon img 						{ display:none; }
#profile td:nth-child(1):before 		{ content:"You're following"; }
#following_count_link:after, #follower_count_link:after
									{ content:" people"; }
#profile td:nth-child(1):after, #profile td:nth-child(2):after 
									{ content:", ";margin-left:-.25em; }
#profile td:nth-child(2), #profile td:nth-child(3) 
									{ padding-left:5px; }
#profile td:nth-child(2):before 		{ content:"followed by "; }
#profile td:nth-child(3):before 		{ content:"and have made "; }
#update_count:after					{ content:" posts"; }

#status_update_box, #dm_update_box 	{position:absolute;top:0;padding:0;z-index:3;}
#dm_update_box 						{display:none;}
.status-update-form 					{position:relative; width:27em; height:150px; padding:0;}
.status-update-form .info 			{position:relative;z-index:1;overflow:hidden;background:#fafafa;height:97px;}
.status-update-form input 				{position:absolute;right:0;bottom:-2.5em;}
.status-update-form .bar 			{position:relative;background:#474747;height:30px;line-height:28px;}
.status-update-form h3 				{position:absolute;left:.25em;font-size:.8em;color:#eee;}
.status-update-form .char-counter 	{position:absolute;right:.25em;font-size:.8em;color:#eee!important; }
#status, #text 						{font-size:1em;border:0;width:26.5em;height:50px;margin:10px .25em;background:#fafafa;font-family:calibri;color:#222;font-weight:normal;}


#currently {width:26.5em;margin:0.25em;border-top:1px solid #eee;}
#currently strong {display:none;}
.status-text, #latest_meta { font-size:.8em;color:#aaa;line-height:1.6em;height:1.6em;}
#latest_status  {width:23.75em;display:block;}
.status-text { display:table-cell;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;-moz-binding: url('ellipsis.xml#ellipsis');}
#latest_meta {display:table-cell;}
#latest_text { display:block !important; }
#latest_text_full { display:none !important; }


.hentry { position:relative;margin-bottom:2em;clear:both; }
.listable { position:absolute;bottom:0;left:0; }
.status-body { float:right;margin-left:4em;background:#fafafa;display:block;min-height:1em;padding:1em 1em 1.1em;width:21em; }
.status-body strong { font-weight:100; }
.status-body strong:after { content:" said " }
.entry-content {  }
.entry-meta { position:absolute;bottom:0;display:block;font-size:.8em; }

.definition { display:block;color:#333; }
.definition:hover { color:#333; }
.definition strong { display:block;font-weight:normal;color:#0072bc; }
.definition:hover strong { color:#df4f37; }







